@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


body {
  background-color: #232946;
  color: #b8c1ec;
  font-family: sans-serif;
  text-align: center;
 }

h1 {
  color: #fffffe;
}

a {
  color: ;
}

.button {
  color: #121629;
  padding: 10px;
  border-radius: 10px;
  margin: 10000000px auto;
  background-color: #eebbc3;
}

#img-profile {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.12);
  padding: 2em 0;
}

.footer {
  background-color: #b8c1ec;
  color: #121629;
  width: 10%;
  box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 0 auto;
}

.footer:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.social-media {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}
/*
.icon {
  margin: 10% 1em;
}*/
